.orderTrack{
    width: 800px;
    padding-left: 100px;
    display: flex;
}
.orderStatus{
    width: 33.33%;
    height: 5px;
    background: #777;
    position: relative;
    font-size: 12px;
}
.orderStatus.active{
    background: #26A541;
}
.orderStatus:last-child{
    width: 0;
}
.orderStatus .point{
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 8px;
    background-color: #777;
    top: -5px;
}
.orderStatus .point.active{
    background-color: #26A541;
}
.orderInfo{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: -26px;
    transform: translateX(-50%);
}

.title{
    font-size: 14px;
    font-weight: 600;
}
.value{
    font-size: 12px;
    text-transform: capitalize;
}
.statusconfbtn{
    box-sizing:border-box;
    padding: 100px;
    display: flex;
    align-Items: center;
}
.statusconfbtn > div{
    padding: 0 50px;
    box-sizing: border-box;
}
#cnfbtn{
    background-color: rgb(47, 131, 241);
    color:white;
}
@media screen and (max-width: 1080px) {
    .orderTrack{
        width: 600px;
        padding-left: 50px;
    }
}
@media screen and (max-width: 900px) {
    .orderTrack{
        width: 500px;
        padding-left: 50px;
    }
}
@media screen and (max-width: 580px) {
    .orderTrack{
        width: 280px;
        padding-left:30px;
    }
    .statusconfbtn{
        padding:50px 0px;
    }
    .statusconfbtn > div{
        padding-left: 10px;
        padding-right:10px;
    }
}
@media screen and (max-width: 340px) {
    .orderTrack{
        width: 250px;
        padding-left:25px;
    }
}